body {
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100%;
  background-color: #b87f29b0;
  color: white;
  font-family: Georgia, "Times New Roman", Times, serif;
}
p {
  padding: 2em;
  font-size: 7vmin;
}
